{% extends 'user/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}CONTROL_SELECTION{% endblock %}

{% block content %}
<form>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Control Name</th>
        <th scope="col">Control Identifier</th>
        <th scope="col">Control Text</th>
        <th scope="col">Discussion</th>
        <th scope="col">CMMC Level</th>
        <th scope="col">NIST 800-171 Control</th>
        <th scope="col">NIST 800-172 Control</th>
        <th scope="col">Related Controls</th>
        <th scope="col">Applicable Systems</th>
        <th scope="col">Recommended</th>
        <th scope="col">Select</th>
      </tr>
    </thead>
    <tbody>
    {% for x in controls %}
        <tr>
            <td>{{ x.control_name }}</td>
            <td>{{ x.control_id }}</td>
            <td>{{ x.control_txt }}</td>
            <td>{{ x.discussion }}</td>
            <td>{{ x.cmmc_level }}</td>
            <td>{{ x.control_id_171 }}</td>
            <td>{{ x.control_id_172 }}</td>
            <td>{{ x.related_controls }}</td>
            <td>{{ x.applicable_systems|semi_colon_space}}</td>
            
            <td>YES</td>
            <td><input type="checkbox" checked></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button class="btn btn-success btn-theme-color">SUBMIT</button>
</form>

{% endblock %}